.top_bar{
  position: fixed;
  left: 0; top: 0; right: 0;
  height: 55px;

  border-style: solid;
  border-color: #666;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
  background-color: #222222;
}
.top_bar2{
  position: fixed;
  left: 0; top: 0; right: 0;
  height: 58px;

  border-style: solid;
  border-color: #666;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}


.left_bar {
  position: fixed;
  left: 0; top: 58px; bottom: 0;
  width: 300px;

  border-style: solid;
  border-color: #666;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 2px;
  border-bottom-width: 0px;
  background-color: #222222;
}
.left_bar2 {
  position: fixed;
  left: 0; top: 58px; bottom: 0;
  width: 303px;

  border-style: solid;
  border-color: #666;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 2px;
  border-bottom-width: 0px;
}

.context {
  width: 800px;

  position: absolute;
  left: 50%;
  margin-top: 100px;

  font-family: Roboto, "맑은 고딕";
  font-size: 18px;
  color: #CCCCCC;
}

.context_bar {
  position: relative;
  right: 0;left: 0; top: 10px; bottom: 0;
  width: 200px;
  height: 8px;
  background-color: #FFC000;
}

.context_login {
  width: 400px;
  height: 200px;
  position: absolute;
  left: 50%;
  margin-left: -200px;
}

.context_login2 {
  width: 600px;
  height: 200px;
  position: absolute;
  top: 25%;
}

.grid_login {
  display: grid;
  grid-template-columns: 150px 200px;
  grid-template-rows: 32px 32px;
}

#btn_login {
  border: 2px solid #FFC000;
  background-color: #222222;
  color: #FFC000;
  font-size: 20px;
  font-family: 'LAB디지털';
  padding: 3px 150px;
}

#btn_login:hover {
  border: 1px solid red;
  background-color: #222222;
  color: red;
}

.input_box {
  width: 200px;
  height: 20px;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background-color: #222222;
  border-radius: 5px;
}
